*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #030303;
    color: #fefeff;
    padding: 0.45vw;
    overflow-x: hidden;
}

#main{
    height: fit-content;
    border-radius: 20px;
}

nav{
    height: 4vw;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2vw;
    gap: 1vw;
    position: fixed;
}

nav button{
    padding: 0.5vw;
    font-size: 0.9vw;
    font-family: "panchang";
    font-weight: 600;
    border-radius: 15px;
}

nav button:hover{
    background-color: #030303;
    color: #F1F0F1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#hero{
    height: 58vw;
    width: 100%;
    background-color: black;
    overflow: hidden;
    border-radius: 18px;

}
#hero h1{
    font-family: "panchang";
    line-height: 0.9;
    font-size: 2.5vw;
    position: absolute;
    z-index: 2;
    color: #FFFEFE;
    margin: 1.2vw;
}

#video{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 18px;
}

#video video{
    height: 100%;
    width: 100%;
    margin-top: -1.5vw;
}

#circle{
    height: 90vh;
    width: 100%;
    padding: 0.1px;
    display: flex;
    justify-content: center;    
}

#inn{
    height: 15vh;
    width: 15%;
    border-radius: 18px;
    display: flex;
    overflow: hidden;
    margin: 1vw;
    margin-left: 2vw;
    border-radius: 50%;
    border: 2px solid #fefeff;
}

.card1{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/zudio_dummy/bm1.jpg);
}

.card2{
    background-size: cover;
    background-image: url(/zudio_dummy/g3.png);

}
.card3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center-top;
    background-image: url(/zudio_dummy/gm8.jpg);
}
.card4{
    background-image: url(/zudio_dummy/girl1.jpg);
    background-size: cover;
}
.card5{
    background-image: url(/zudio_dummy/bm5.jpg);
    background-size: cover;
}

.card{
    flex: 1;
    height: 100%;
    transition: flex 0.5s ease;
    cursor: pointer;
}

.card h1{
    font-size: 20vw;
    font-family: "aktura";
}

.card:hover {
    flex: 3;
}

#page1withbutton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    padding: 0.5vw;
    font-size: 0.9vw;
    font-family: "panchang";
    font-weight: 600;
    border-radius: 15px;
    position: fixed;
    top: 49%;
    left: 1.5%;
    z-index: 2;
}

#menu:hover{
    background-color: #030303;
    color: #F1F0F1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}



#page1{
    height: 100vh;
    width: 50%;
    background-color: #fefeff;
    position: fixed;
    top: 0%;
    left:65%;
    border-radius: 25px;
    padding-top: 4.5vw;
    transform: translateX(74%);
    transition: transform 800ms ease;
    box-shadow: #000101 -5px 0px, #1c1a1bfd -10px 0px, #333 -15px 0px, #989899 -20px 0px, #fffefe -25px 0px;
}


.writing{
    font-size: 5vw;
    font-weight: 500;
    font-family: "chillax";
    background-color: #fefeff;
    color: #030303;
    margin-top: 0.5vw;
    cursor: pointer;
    display: flex;

}

.writing::after{
    content: "00";
    margin-right: 0.5vw;
    font-size: 0.9vw;
    color: crimson;
}

.writing:hover{
    background-color: #030303;
    color: #fefeff;
    transition: 0.3s ease-in-out;
}

#signin{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signinn{
    height: 100vh;
    width: 50%;
    background-color: #fefeff;
    position: fixed;
    top: 0%;
    left:0%;
    border-radius: 25px;
    padding-top: 4.5vw;
    transform: translateX(-100%);
    transition: transform 800ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form_inputs{
    padding: 1vw;
    font-size: 0.9vw;
    font-family: "chillax";
    font-weight: 600;
    border-radius: 15px;
    border: 0.1px solid #030303;
    margin-top: 1.5vw;
}
#signinn h1{
    font-size: 5vw;
    font-family: "chillax";
    font-weight: 700;
    color: #030303;
    display: flex;
    justify-content: center;
}

#signinn button{
    padding: 0.5vw;
    font-size: 0.9vw;
    font-family: "chillax";
    font-weight: 600;
    border-radius: 15px;
}

#signinn button:hover{
    background-color: #030303;
    color: #F1F0F1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
































#page2{
    height: 100vh;
    width: 100%;
    background-color: #000101;
    text-transform: capitalize;
    padding-top: 2vw;

}

.ques{
    height: 12%;
    font-size: 4.5vw;
    font-family: "chillax";
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 2vw ;
}

.ans{
    height: 18%;
    width: 55%;
    font-size: 1.8vw;
    text-align: center;
    font-family: "General Sans";
    color: grey;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: -2vw;
}


.ans p{
    display: inline;
    color: #ccc;
}


#page3{
    height: 100vh;
    width: 100%;
    background-color: #000101;
}

#page3 img{
    height: 0vh;
    width: 0%;
    object-fit: cover;
    object-position: center;
    position: relative;
    top: 50%;
    left: 50%;
    object-position: top;
    transform: translate(-50% , -50%);
    border-radius: 50%;
}

#upab{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -2;
}

#page3l p{
    font-size: 7vw;
    font-weight: 500;
    font-family: "chillax"; 
    color: #fefeff;
    text-align: right;
    transform: translateX(0%);
}

#page3R p{
    font-size: 7vw;
    font-weight: 500;
    font-family: "chillax"; 
    color: #fefeff;
    text-align: left;
    transform: translateX(0%);
}



















































#page4{
    height: 70vh;
    width: 100%;
    padding: 5vw 5vw ;
    background-image: url(/zudio_dummy/group1.jpg) ;
    z-index: -1;
}
#page4 h1{
    font-size: 28.5vw;
    font-weight: 500;
    letter-spacing: -1.2vw;
    width: 100%;
    font-family: "chillax";
    margin-left: 10vw;
}


#page5{
    height: 29vh;
    width: 100%;
    background: linear-gradient(to top,  #020302, #020302);
    overflow-y: hidden;
    z-index: 1;
}

#newsletter{
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#newsletter input{
    padding: 0.5vw;
    font-size: 1.2vw;
    font-family: "chillax";
    border-radius: 15px;
    border: none;
}

#newsletter button{
    padding: 0.5vw;
    font-size: 1.2vw;
    font-family: "chillax";
    font-weight: 500;
    border-radius: 15px;
    border: none;
}


#newsletter button:hover{
    background-color: #030303;
    color: #F1F0F1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


#page5 h2{
    text-align: center;
    font-size: 2.5vw;
    font-family: "chillax";
}

#footer{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "chillax";
}

#footer_left{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_mid{
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    background-image: url(/zudio_dummy/gm2.jpg);
    background-size: cover;
    border-radius: 25px;
}    

#footer_mid h1{
    font-size: 8vw;
    font-family: "chillax";

}

#footer_right{  
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


















